.header{
    margin: 2rem;

    .headerContent{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        margin-top: 16rem;

        .headerHero1{

            img{
                width: 37rem;
            }
        }

        .headerHero2{
            max-width: 77rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p{
                font-style: normal;
                font-weight: normal;
                font-size: 4rem;
                line-height: 3.8rem;
                text-align: center;
                color: #2B2B2B;
            }

            p:nth-child(2){
                font-weight: 700;
                font-size: 6.4rem;
                line-height: 6.2rem;
                margin-top: -2.2rem;
            }

            a{
                width: 28rem;
                background: #3A57A1;
                border-radius: 2.1rem;
                padding: 1.2rem 0.8rem;
                margin-top: -2rem;

                text-decoration: none;
                font-style: normal;
                font-weight: bold;
                font-size: 1.6rem;
                line-height: 2rem;
                text-align: center;
                color: #E5E5E5;
                border: 1px solid #3A57A1;
            }

            a:hover{
                background: #E5E5E5;
                color: #3A57A1;
                transition: 0.4s;
            }
        }
    }

    .headerFooter{
        margin-top: 20rem;
        display: flex;
    
        .icons{
            display: flex;
            flex: 2;
            align-items: flex-end;
            justify-content: flex-end;
            margin-right: 13.5rem;
            margin-bottom: 4.1rem;
            gap: 4rem;
    
            a{
                font-size: 3.6rem;
                line-height: 4.1rem;
                color: #3A57A1;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .header{

        .headerContent{
            flex-direction: column;

        }

        .headerFooter{
            display: none;
            
        }
    }
}

@media screen and (max-width: 600px) {
    .header{

        .headerContent{
            margin-top: 4rem;

            .headerHero1{
                
                img{
                    width: 32rem;
                }

            }

            .headerHero2{

                p{
                    font-size: 3rem;
                }

                p:nth-child(2){
                    font-weight: 700;
                    font-size: 5.4rem;
                    margin-top: -1.2rem;
                }
            }

        }
    }
}